<ion-content class="ion-padding">
    <div class="menuContainerEnroll">
      <ion-buttons mode="ios" slot="start" >
        <ion-back-button defaultHref="/tabs/account"></ion-back-button>
        </ion-buttons>
        <h6 class="title">Estás esperando respuesta de:</h6>
      </div>
      <ion-item *ngIf="vacio"> Lista vacía</ion-item>
    <ion-item-sliding *ngFor="let quiz of EnrolledQuizzes">
      <ion-card>
        <div class="quizImg">
          <ion-icon (click)="remove(this.id, quiz.id, quiz.name)" id="fav"  name="trash"></ion-icon>
          <img src="{{quiz.logo}}" />
        </div>
        <div class="quizNameContainer">
          <ion-card-title color="light">{{quiz.name}}</ion-card-title>
        </div>
        <ion-card-content class="textSchools">
          {{quiz.description}}
        </ion-card-content>
        <div class="buttonEnrolledQuizzes">
        </div>
      </ion-card>
    </ion-item-sliding>
</ion-content>