.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-back {
  background: #f7f9fc;
}

.btnflex {
  display: flex;
  flex-direction: row;
}

.text {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.text2 {
  font-size: 0.7rem;
  color: white;
}

.text3 {
  font-size: 0.8rem;
  color: white;
  margin: 1px 0 0 0;
}

.textLevel {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: white;
}

.head {
  display: flex;
  flex-direction: column;
}

.containerTop {
  padding: 25px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.avatar {
  height: 8rem;
  width: 8rem;
}

.userInfo {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.userEmail {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.containerMenu {
  display: flex;
  justify-content: space-around;
  margin-top: 13px;
}

.general {
  border-bottom: solid white;
  display: flex;
  width: 20%;
  justify-content: center;
}

.details {
  display: flex;
  width: 20%;
  justify-content: center;
}

.favoritesContainer {
  display: flex;
  width: 20%;
  justify-content: center;
}

.containerBoxes {
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: 100%
}

.trophy {
  height: 15%;
  border: solid 0.08rem white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trophyIcon {
  width: 18%;
  color: white;
  background: #348075;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0.09rem;
}

.trophyLegend {
  padding-top: 3rem;
  width: 80%;
}

.label {
  font-size: 1rem;
  margin: 0;
  color: white;
}

.bottomContainer {
  margin-top: 1rem;
  border: solid 0.09rem white;
}

.middleContainer {
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.leftMiddleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 0.4rem;
  width: 25rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 0.09rem white;
}

.rightMiddleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 0.4rem;
  width: 31rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 0.09rem white;
}

.containerData {
  align-self: center;
  justify-self: center;
  margin: 0.1rem 0.1rem;
  width: 98%;
  height: 98%;
  background: #348075;
}

.dataIcon {
  font-size: 3rem;
  color: white;
}

.dataIconFav {
  font-size: 3rem;
  color: white;
}

.statisticsContainer {
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statistics {
  margin-right: 30%;
  padding: 10px;
}

.statisticsData {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.chartContainer {
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
}

.highchartItem {
  width: 90%; 
  height: 90%; 
  display: block;
}

.infoQuizzes {
  height: 100%;
  width: 42%;
  border-left: solid 0.1rem white;
  padding: 0.5rem;
}
