<ion-content>
  <div class="head">
    <div class="containerTop">
      <ion-icon name="menu" (click)="openFirst()"></ion-icon>
    </div>

    <div class="contentFlex">
      <ion-avatar class="avatar">
        <ion-img src="{{photo}}"></ion-img>
      </ion-avatar>
      <div class="contentFlexMargin">
        <h2 class="userInfo">{{firstName}} {{lastName}}</h2>
        <p class="userEmail">{{email}}</p>
      </div>
    </div>
    <!--     <div class="containerMenu">
      <div class="general">General</div>
      <div routerLink="/tabs/profile-details" class="details">Detalles</div>
      <div routerLink="/tabs/profile-favs" class="favorites">Favoritos</div>
    </div> -->
  </div>

  <div class="containerBoxes">
    <div class="trophy">
      <div class="trophyIcon">
        <ion-icon name="trophy"></ion-icon>
        <p class="textLevel">NIVEL</p>
      </div>
      <div class="trophyLegend">
        <p class="label">EXPERTO</p>
        <!-- Dependiendo de la cantidad de queizzes que respondió podríamos ponerle un nivel: principiante (menos de 5), aficionado (menos de 10), intermedio (menos de 15), maestro (menos de 20), experto (más de 20) -->
        <p class="text2">Haz completado 20 quizzes!</p>
      </div>
    </div>

    <div class="trophyIcon">
      <button routerLink="/tabs/edit-user" class="leftMiddleContainer">
      <ion-icon name="finger-print"></ion-icon>
      <p class="textLevel">Mis datos</p>
    </button>
    </div>

    <div class="middleContainer">
      <button routerLink="/tabs/profile-favs" class="leftMiddleContainer">
          <p class="textLevel">FAVORITOS</p>
          <ion-icon name="heart" class="dataIconFav"></ion-icon>
      </button>
        <button routerLink="/tabs/enrolled-quizzes" class="rightMiddleContainer">
        <div class="containerData">
          <ion-icon name="time" class="dataIcon"></ion-icon>
          <p class="textLevel">PENDIENTES</p>
       </div>
      </button>
    </div>

    <div class="bottomContainer">
      <div class="statisticsContainer">
        <div class="statistics">
          <p class="label">ESTADÍSTICAS GENERALES</p>
        </div>
      </div>
      <div class="statisticsData">
        <div class="chartContainer">
          <canvas
            #doughnutCanvas
            style="position: relative; height: 3rem"
          ></canvas>
          <!--           <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            class="highchartItem"
          >
          </highcharts-chart> -->
        </div>
        <div class="infoQuizzes">
          <p class="text3">Quizzes terminados</p>
          <p class="text">20</p>
          <p class="text3">Aprobados</p>
          <p class="text">17</p>
        </div>
      </div>
    </div>
   </div>
</ion-content>
