<ion-content fullscreen>
  <div class="head">
    <div class="containerTop">
      <ion-icon name="menu" (click)="openFirst()"></ion-icon>
    </div>

    <div class="contentFlex">
      <ion-avatar class="avatar">
        <ion-img src="{{photo}}"></ion-img>
      </ion-avatar>
      <div class="contentFlexMargin">
        <h2 class="userInfo">{{firstName}} {{lastName}}</h2>
        <p class="userEmail">{{email}}</p>
      </div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="gridLevel">
          <div class="iconLevel">
            <ion-icon name="trophy"></ion-icon>
            <p>NIVEL</p>
          </div>
          <div class="levelDetail">
            <p>{{lvl}}<br>{{lvlText}}</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="grid">
          <button routerLink="/tabs/edit-user" class="button">
          <ion-icon name="finger-print" class="dataIcon"></ion-icon>
          <p class="dataText">Mis datos</p>
        </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <div class="grid">
        <button routerLink="/tabs/profile-favs" class="button">
          <p class="textFavorites">FAVORITOS</p>
          <ion-icon name="heart" class="iconFavorites"></ion-icon>
      </button>
    </div>
      </ion-col>
      <ion-col>
        <div class="grid">
        <button routerLink="/tabs/enrolled-quizzes" class="button">
          <div>
            <ion-icon name="time" class="iconEnrolled"></ion-icon>
            <p class="textEnrolled">PENDIENTES</p>
         </div>
        </button>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bottomContainer">
          <div class="statisticsContainer">
            <div class="statistics">
              <p>ESTADÍSTICAS GENERALES</p>
            </div>
          </div>
          <div class="statisticsData">
            <div class="chartContainer">
              <canvas
              #doughnutCanvas
                style="position: relative; height: 5rem;"
              ></canvas>
            </div>
            <div class="infoQuizzes">
              <p class="text3">Quizzes terminados</p>
              <p class="text">{{quizzesTotal}}</p>
              <p class="text3">Aprobados</p>
              <p class="text">{{quizzesApproved}}</p>
              <p class="text3">Promedio</p>
              <p class="text">{{quizzesAVG || 0}}</p>
              
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
