.text {
  font-size: 1rem;
  color: var(--ion-color-light);
  margin: 0;
}

.text2 {
  font-size: 0.7rem;
  color: var(--ion-color-light);
}

.text3 {
  font-size: 0.8rem;
  color: var(--ion-color-light);
  margin: 1px 0 0 0;
}

.head {
  display: flex;
  flex-direction: column;
}

.containerTop {
  padding: 25px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.avatar {
  height: 8rem;
  width: 8rem;
}

.userInfo {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.userEmail {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.bottomContainer {
  //border: solid 0.09rem var(--ion-color-light);
  background-color: var(--ion-color-back);
}

.statisticsContainer {
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statistics {
  margin-right: 30%;
  padding: 10px;
}

.statisticsData {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.chartContainer {
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
}

.infoQuizzes {
  height: 100%;
  width: 42%;
  border-left: solid 0.1rem var(--ion-color-light);
  padding: 0.5rem;
}

.grid {
  //border: solid 0.1rem var(--ion-color-light);
  background-color: var(--ion-color-back);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridLevel {
  display: flex;
  flex-direction: row;
  //border: solid 0.1rem var(--ion-color-light);
  background-color: var(--ion-color-back);
}

.levelDetail {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}

.iconLevel {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataIcon {
  color: var(--ion-color-light);
  padding-top: 0.7rem;
  font-size: 1.9rem;
}

.button {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconFavorites {
  color: var(--ion-color-light);
  font-size: 1.9rem;
  padding-bottom: 0.7rem;
}

.iconEnrolled {
  color: var(--ion-color-light);
  padding-top:  0.7rem;
  font-size: 1.9rem;
}

.textEnrolled {
  color: var(--ion-color-light);
  margin-bottom: 0.5rem;
}

.textFavorites {
  color: var(--ion-color-light);
  margin-bottom: 0.2rem;
  padding-top: 0.7rem;
}

.dataText {
  color: var(--ion-color-light);
  margin-bottom: 0.64rem;
}