<ion-header>
  <div class="head">
    <div class="containerTop">
      <ion-icon name="menu" (click)="openFirst()"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </div>

    <div class="contentFlex">
      <ion-avatar class="avatar">
        <ion-img src="{{photo}}"></ion-img>
      </ion-avatar>
      <div class="contentFlexMargin">
        <h2 class="userInfo">{{firstName}} {{lastName}}</h2>
        <p class="userLevel">Nivel</p>
        <h6 class="userEmail">{{email}}</h6>
      </div>
    </div>
    <div class="containerMenu">
      <div class="general">General</div>
      <div routerLink="/tabs/profile-details" class="details">Detalles</div>
      <div routerLink="/tabs/profile-messages" class="favorites">Favoritos</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="containerTrophy">
    <div class="tagTrophy">
      <p class="text4">Últimos logros</p>
    </div>
    <div class="trophy">
      <div class="trophyIcon">
        <ion-icon name="trophy"></ion-icon>
      </div>
      <div class="trophyLegend">
        <p class="label">Modelador de piedra</p>
        <p class="text-justify text-truncate text">
          Completa todas las preguntas de la Edad de Piedra.<ion-icon
            name="checkmark"
          ></ion-icon>
        </p>
      </div>
    </div>

    <div
      class="bottomContainer"
    >
      <div
        class="statisticsContainer"
      >
        <div class="statistics">
          <p class="statisticsTitle">
            Estadísticas Generales
          </p>
        </div>
        <div
          class="statisticsIcon"
        >
          <ion-icon name="flag"></ion-icon>
        </div>
      </div>
      <div class="statisticsData">
        <div
          class="chartContainer"
        >
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="width: 90%; height: 90%; display: block"
          >
          </highcharts-chart>
        </div>
        <div class="line">
          <svg height="100%" width="3px">
            <line
              x1="0"
              y1="15%"
              x2="0"
              y2="85%"
              style="stroke: #dadada; stroke-width: 2"
            ></line>
          </svg>
        </div>
        <div class="infoQuizzes">
          <p class="text3">Quiz Hechos</p>
          <p class="text">4</p>
          <p class="text3">Aprobados</p>
          <p class="text">2</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
