.containerEditUser {
    height: 100vh;
    display: flex;
    flex-direction: column;
/*     justify-content: center;*/
    align-items: center;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.titleEdit {
    padding-bottom: 2rem;
}

.backArrowEdit {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    align-self: flex-start;
}