<ion-content class="ion-padding">
      <div class="menuContainerOrg">
        <ion-buttons mode="ios" slot="start" >
          <ion-back-button text="Atrás" defaultHref="/tabs/schoolsList"></ion-back-button>
          </ion-buttons>
        <!-- <ion-icon name="menu" (click)="openFirst()"></ion-icon> -->
      </div>
      <h6 class="title">Estos son tus favoritos</h6>
      <ion-item-sliding *ngFor="let fav of Favorites">
        <ion-card>
          <div class="quizImg">
            <img src="{{fav.logo}}" />
          </div>
          <ion-card-header>
            <ion-card-title class="textSchools">{{fav.name}}</ion-card-title>
            <p class="schoolData">{{fav.email}}</p>
          </ion-card-header>
          <ion-card-content class="textSchools">
            {{fav.description}}
          </ion-card-content>
  
          <ion-button 
           (click)="goToSchool(fav.id)"
           class="margin-text form-rounded">Más Info</ion-button>
        </ion-card>
      </ion-item-sliding>
  </ion-content>