<ion-content class="ion-padding">
      <div class="menuContainerFavorites">
        <ion-buttons mode="ios" slot="start" >
          <ion-back-button defaultHref="/tabs/account"></ion-back-button>
          </ion-buttons>
          <h6 class="title">Estos son tus favoritos</h6>
      </div>
      <ion-item-sliding *ngFor="let fav of Favorites">
        <ion-card>
          <div class="quizImg">
            <img src="{{fav.logo}}" />
          </div>
          <div class="favsNameContainer">
            <ion-card-title color="light">{{fav.name}}</ion-card-title>
            <p class="schoolData">{{fav.email}}</p>
          </div>
          <ion-card-content class="textSchools">
            {{fav.description}}
          </ion-card-content>
          <div class="button">
          <!-- <ion-button 
           (click)="goToSchool(fav.id)"
           class="margin-text form-rounded buttonFavs">Más Info</ion-button> -->
          </div>
        </ion-card>
      </ion-item-sliding>
  </ion-content>