.length{
    width: 100%;
}

.containerSignIn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.margin-text{
    margin-top: 0.5rem;
}

.form-rounded {
    height: 3rem;  
}