         
            <h1> Bienvenido a Quiz App</h1>
            <input type="email" class="form-control form-rounded-top" aria-describedby="emailHelp" placeholder="Ingrese email" [(ngModel)]="email">
         
            <input type="password" class="form-control form-rounded-bottom" placeholder="Password" [(ngModel)]="password">
           
            <a routerLink="/sign-in" class="flex-right-x">Perdiste tu contraseña?</a>
          
            <ion-button (click)="login()" expand="full" 
            class="full-length margin-text form-rounded">INGRESAR</ion-button>
            <!-- routerLink="/tabs" routerDirection="forward" -->
            
            <div class="form-group flex-center-x-row margin-input">
             <p> Aún no te has registrado?</p> <a routerLink="/sign-in" style="margin-left: 3%;">Registrate</a>
            </div>
            <p>Henry Labs - Grupo 3</p>
  

  
  
        