<div class="containerLogin">
  <img
    class="logoLogin"
    src="../../../assets/rect650-removebg-preview.png"
    alt="QuizApp"
  />
  <input
    type="email"
    class="form-control form-rounded input"
    aria-describedby="emailHelp"
    placeholder="e-mail"
    [(ngModel)]="email"
  />

  <input
    type="password"
    class="form-control form-rounded input"
    placeholder="Contraseña"
    [(ngModel)]="password"
  />
<p id="errorMsg"> {{loginError}} </p>
  <!-- <a routerLink="/sign-in" class="linkPassword"> ¿Perdiste tu contraseña? </a> -->
  <div class="externalLogin">
  <!-- <ion-icon (click)="doFbLogin()" name="logo-facebook"></ion-icon>
  <ion-icon (click)="loginGoogle()" name="logo-google"></ion-icon> -->
</div>
  <ion-button
    (click)="login()"
    expand="full"
    class="full-length margin-text form-rounded primary"
  >
    INGRESAR
  </ion-button>

     <ion-button
      routerLink="/sign-in"
      expand="full"
      class="full-length margin-text form-rounded primary"
    > Registrarse
    </ion-button>

  <p class="text">Henry Labs - Grupo 3</p>
</div>
